{
  "extends": "airbnb",
  "rules": {
    "semi": [2, "never"],
    "no-param-reassign": 0,
    "no-unused-vars": [1, {"vars": "local", "args": "none"}],
    "import/no-extraneous-dependencies": [0, { }],
    "import/no-unresolved": [0, { }],
    "import/extensions": [0, { }]
  }
}
