{
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "rules": {
    "semi": [0, "never"],
    "no-param-reassign": 0,
    "no-unused-vars": [1, {"vars": "local", "args": "none"}]
  }
}
