@import 'stylesheets/config/colors';

.helloworld__last h1 {
  margin-bottom: 30px;
}

.helloworld__new-form {
  margin-top: 50px;
}

.helloworld__new-form--error-msg {
  margin-top: 5px;
  font-weight: normal;
}
